<div class="container">
  <h2>{{ pageTitle }}</h2>

  <mat-card>
    <mat-card-content>
      <form [formGroup]="empresaForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome da Empresa</mat-label>
          <input matInput formControlName="nome" required>
          <mat-error *ngIf="empresaForm.get('nome')?.hasError('required')">
            Nome é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>CNPJ</mat-label>
          <input matInput formControlName="cnpj" required>
           <mat-error *ngIf="empresaForm.get('cnpj')?.hasError('required')">
            CNPJ é obrigatório.
          </mat-error>
       </mat-form-field>



        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="empresaForm.invalid">
            {{ isEditMode ? 'Atualizar' : 'Salvar' }}
          </button>
          <button mat-stroked-button type="button" (click)="cancel()">Cancelar</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>

